{% extends 'base_generic.html' %}

{% block content %}
<div class="list-block">
<h2>{{ month }}</h2>
<h3>Monthly projects</h3>

{% if month.thingdone_set.all %}
<p><a href="{% url 'months-edit' month.pk %}">Edit</a></p>
{% endif %}

{% if month.thingdone_set.all %}
  {% for thingdone in month.thingdone_set.all %}
    <div class="list-block">
      <h4>{{ thingdone }}</h4>
      <p>Difficulty: {{ thingdone.difficulty }}</p>
    </div>
  {% endfor %}
{% else %}
  <p>No big projects for the month</p>
{% endif %}

<h3>Days in month</h3>
{% if days.all %}
  {% for day in days.all %}
    <div class="list-block">
      <a href="{{ day.get_absolute_url }}">{{ day }}</a>
      <p>Things done: {{ day.thingdone_set.all.count }}</p>  
    </div>
  {% endfor %}
{% else %}
  <p>No days to take note off this month!</p>
{% endif %}

</div>
<div class="list-block">
  <form action="" method="POST">
  {% csrf_token %}
    <table>
      <tr>
        <td>Item: </td>
        <td>{{ form.name }}</td>
      </tr>
      <tr>
        <td>Diffculty: </td>
        <td>{{ form.difficulty }}</td>
      </tr>
    </table>
    <br>
    <input type="submit" value="Add new item" />
  </form>
</div>
{% endblock %}